doctype html
html
    head
        title CS strategy page
        link(type='text/css', rel='stylesheet', href='css/editor.css')
        link(type='text/css', rel='stylesheet', href='css/basic.css')
        link(type='text/css', rel='stylesheet', href='css/ui-darkness/jquery-ui-1.10.3.custom.css')
        link(rel='icon', href='imgs/favicon.ico')
        script(src='/js/jquery.js')
        script(src='/js/jquery.simplemodal.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/editor.js')
        script(src='/js/kineticjs.js')
        script(src='/js/jquery-ui-1.10.3.custom.js')
    body
        if (user)
                button(onclick='showSave()')
                    |Save
        div#greatertool.nohightlight
            div#toolbox.nohighlight
                img#smoke-icon.tool(onclick="handleClick('smoke')", src="imgs/tools/smoke.jpeg")
                img#hand-id.tool(onclick="handleClick('hand')", src="imgs/tools/hand.jpeg")
                img#brush-id.tool(onclick="handleClick('brush')", src="imgs/tools/paintbrush.jpeg")
                input#comid(type='text', name='namegetter', placeholder='Steam ID')
                button#bComid.nohighlight(onclick='steamInfo()')
                    |Get Info
                input#pageLink(type='text', size='10')
                div#playerlist.toolbox
        div#playerListWrapper
            div#playerList
        //-div#map(style="background-image: url('#{imgurl}')")
            //-div#navbar
            //-        ul
            //-            li
            //-                a(href="#") Menu
            //-                ul
            //-                    li
            //-                        a(href="#") Save
            //-                    li
            //-                        a(href="#") Open
        div#save-menu
            span#save-title
                Save Your Strat
            select#saved-list(size="5")
            input#save-input(type='text')
            button#save-button(onclick='submitSave()')
                |Save
        div#open-menu
            select#map-select
            select#open-list(size="5")
            button#delete-button(onclick='deleteStrat()')
            button#open-button(onclick='openStrat()')