html { 
        /*background: url('http://hdwallpapersbase.com/wp-content/uploads/2012/10/CS_Counter-Strike-Source_Wallpaper__by_GnuHest.jpg') no-repeat center center fixed; */
        /*-webkit-background-size: cover;*/
        /*-moz-background-size: cover;*/
        /*-o-background-size: cover;*/
        /*background-size: cover;*/
}

body {
	background-color: black;
}

canvas {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

#playerListWrapper {
	text-align:center;
	position:absolute;
	left:-100px;
	width:100px;
	color:white;
	word-wrap:break-word;
}

#toolbox {
	background-color: gray;
	height: 350;
	width: 350;
	border: 4px solid black;
	border-radius: 10px;
}

#greatertool {
	position: fixed;
	z-index: 100;
	/*# margin-top: 150;*/
	/*# float: left;*/
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

#playerlist {
	margin-top: 40px;
}

#map {
	background-image: url('imgs/de_dust2_radar_spectate_default.png');
	background-size: 100%;
	width: 1024px;
	height: 1024px;
	/*border: 4px solid black;*/
	/*border-radius: 10px;*/
	/*# float: left;*/
	margin: 0 auto;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	z-index: 50;
}

#smoke-icon {
	height: 50px;
	width: 50px;
}

#hand-id{
	height: 50px;
	width: 50;
}

#comid {
	max-width: 175px;
	margin-left: 0;
	background-color: lightgrey;
	color: #666666;
}

#blahblah-test {
    display: none;
}

.smoke {
	height: 100px;
	width: 100px;
}

.icon {
	border: 4px solid red;
}

.tool{
	height: 50px;
	width: 50px;
	margin: 1px;
}

.nohighlight {
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
